@import "~antd/lib/style/themes/default.less";
.mointorWrap {
  .mapImg {
    display: inline-block;
    max-width: 100%;
    max-height: 437px;
  };
  .txtColor{
    color: #000;
    margin-top: 5px
  }
}

.titleWrap {
  display: flex;
  justify-content: space-between;
}