@import "~antd/lib/style/themes/default.less"; 
@secondry-color: #8ed1fc; 
@primary-color: #8ed1fc; 
@link-color: #8ed1fc; 
@text-color-secondary: #333; 
@heading-color: #ff002d; 
@layout-header-background: #001529; 
@layout-body-background: #f0f2f5; 
@btn-primary-bg: #8ed1fc; 
@bg-color: #8ed1fc; 
@font-size-base: 14pxpx; 
@border-radius-base: 4pxpx; 
