.wraps{
  display: flex;
  justify-content: space-between;
}
.selectDate{
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  color: #666;
  margin-left: 10px;
  cursor: pointer;
  //color: #0693e3;
}
.datePickerrWrap{
  display: flex;
}

.rangePicker{
  margin: 10px 20px;
}