body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,a,p,textarea{
  margin: 0;
  padding: 0;
}

ul,ol,li{
  list-style: none;
}

a{
  text-decoration: none
}

img{
  border: none;
  display: block;
}


html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100%;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}

/* angtd-reset */

.menuDrawer .ant-drawer-content{
  background: #001529
}
.menuDrawer .ant-drawer-body {
  padding: 0
}

.hue-picker{
  width: 275px !important;
  height: 12px;
  margin-bottom: 10px
}

// font

.fontStyle-14 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45)
}

.fontStyle-30 {
  color: rgba(0, 0, 0, 0.85);
  font-size: 30px;
}
