.login{
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(200% 100% at bottom center, #043091, #03246d,#02194b, #000);
  background: radial-gradient(220% 105% at top center, #010613 20%, #010c24 40%, #021742 65%, #03194b);
  background-attachment: fixed;
  overflow: hidden;
  width: 100vw;
	height: 100vh;
	position: relative;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}